<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bosque Guard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'general.css' %}">
</head>
<body>
    <div class="top"><img src="{% static 'bosque.png' %}" class="imagen"></div>
    <h1>Cuestionario de Evaluación Ambiental</h1>
    <form method="post">
        {% csrf_token %}
        <fieldset class="seccion">
            <legend>Sección 1: Generación de Desechos</legend>
            <p>1.1. ¿El proyecto generará escombros de construcción (madera, concreto, metal, etc.) que puedan afectar el bosque?</p>
            <input type="radio" name="sec1_1" value="True" id="sec1_1_s" required><label for="sec1_1_s">Sí</label><br>
            <input type="radio" name="sec1_1" value="False" id="sec1_1_n"><label for="sec1_1_n">No</label><br><br>
            <p>1.2. ¿Se planifican medidas de gestión de residuos para evitar la acumulación de escombros en el bosque?</p>
            <input type="radio" name="sec1_2" value="True" id="sec1_2_s" required><label for="sec1_2_s">Sí</label><br>
            <input type="radio" name="sec1_2" value="False" id="sec1_2_n"><label for="sec1_2_n">No</label><br><br>
            <p>1.3. ¿El proyecto generará aguas residuales que puedan afectar el bosque o los cuerpos de agua circundantes?</p>
            <input type="radio" name="sec1_3" value="True" id="sec1_3_s" required><label for="sec1_3_s">Sí</label><br>
            <input type="radio" name="sec1_3" value="False" id="sec1_3_n"><label for="sec1_3_n">No</label><br><br>
            <p>1.4. ¿Se han establecido sistemas de tratamiento de aguas residuales para evitar la contaminación del entorno natural?</p>
            <input type="radio" name="sec1_4" value="True" id="sec1_4_s" required><label for="sec1_4_s">Sí</label><br>
            <input type="radio" name="sec1_4" value="False" id="sec1_4_n"><label for="sec1_4_n">No</label><br><br>
            <p>1.5. ¿Se utilizarán materiales no biodegradables en el proyecto que puedan persistir en el bosque?</p>
            <input type="radio" name="sec1_5" value="True" id="sec1_5_s" required><label for="sec1_5_s">Sí</label><br>
            <input type="radio" name="sec1_5" value="False" id="sec1_5_n"><label for="sec1_5_n">No</label><br><br>
            <p>1.6. ¿Se considera la recolección y eliminación adecuada de materiales no biodegradables después del proyecto?</p>
            <input type="radio" name="sec1_6" value="True" id="sec1_6_s"><label for="sec1_6_s">Sí</label><br>
            <input type="radio" name="sec1_6" value="False" id="sec1_6_n"><label for="sec1_6_n">No</label><br><br>
            <p>1.7. ¿El proyecto generará desechos de construcción y demolición que puedan alterar el entorno forestal?</p>
            <input type="radio" name="sec1_7" value="True" id="sec1_7_s" required><label for="sec1_7_s">Sí</label><br>
            <input type="radio" name="sec1_7" value="False" id="sec1_7_n"><label for="sec1_7_n">No</label><br><br>
            <p>1.8. ¿Se han implementado estrategias de reciclaje y reutilización de estos desechos para minimizar su impacto?</p>
            <input type="radio" name="sec1_8" value="True" id="sec1_8_s" required><label for="sec1_8_s">Sí</label><br>
            <input type="radio" name="sec1_8" value="False" id="sec1_8_n"><label for="sec1_8_n">No</label><br><br>
            <p>1.9. ¿Se usarán productos químicos peligrosos en el proyecto que puedan representar un riesgo ambiental en el bosque?</p>
            <input type="radio" name="sec1_9" value="True" id="sec1_9_s" required><label for="sec1_9_s">Sí</label><br>
            <input type="radio" name="sec1_9" value="False" id="sec1_9_n"><label for="sec1_9_n">No</label><br><br>
            <p>1.10. ¿Se implementarán medidas de almacenamiento y manejo seguro de estos productos para prevenir la contaminación?</p>
            <input type="radio" name="sec1_10" value="True" id="sec1_10_s" required><label for="sec1_10_s">Sí</label><br>
            <input type="radio" name="sec1_10" value="False" id="sec1_10_n"><label for="sec1_10_n">No</label><br><br>
        </fieldset>

        <fieldset class="seccion">
            <legend>Sección 2: Estancamiento de las Fuentes de Agua</legend>
            <p>2.1. ¿El proyecto implicará la construcción de represas o embalses en el área del bosque?</p>
            <input type="radio" name="sec2_1" value="True" id="sec2_1_s" required><label for="sec2_1_s">Sí</label><br>
            <input type="radio" name="sec2_1" value="False" id="sec2_1_n"><label for="sec2_1_n">No</label><br><br>
            <p>2.2. ¿El proyecto introducirá cambios en el flujo natural de las aguas superficiales del bosque, como la construcción de canales o desviaciones?</p>
            <input type="radio" name="sec2_2" value="True" id="sec2_2_s" required><label for="sec2_2_s">Sí</label><br>
            <input type="radio" name="sec2_2" value="False" id="sec2_2_n"><label for="sec2_2_n">No</label><br><br>
        </fieldset>

        <fieldset class="seccion">
            <legend>Sección 3: Contaminación de las Fuentes de Agua por Erosión del Suelo </legend>
            <p>3.1. ¿El proyecto implica el uso de concreto u otros materiales que pueden aumentar la erosión del suelo?</p>
            <input type="radio" name="sec3_1" value="True" id="sec3_1_s" required><label for="sec3_1_s">Sí</label><br>
            <input type="radio" name="sec3_1" value="False" id="sec3_1_n"><label for="sec3_1_n">No</label><br><br>
            <p>3.2. ¿Se implementarán prácticas de manejo de suelo para prevenir la erosión?</p>
            <input type="radio" name="sec3_2" value="True" id="sec3_2_s" required><label for="sec3_2_s">Sí</label><br>
            <input type="radio" name="sec3_2" value="False" id="sec3_2_n"><label for="sec3_2_n">No</label><br><br>
        </fieldset>

        <fieldset class="seccion">
            <legend>Sección 4: Aumento de Material Particulado y Gases</legend>
            <p>4.1. ¿El proyecto de edificación emitirá gases y partículas, como resultado de actividades como la quema de materiales o el funcionamiento de maquinaria, que puedan afectar la calidad del aire en el bosque?</p>
            <input type="radio" name="sec4_1" value="True" id="sec4_1_s" required><label for="sec4_1_s">Sí</label><br>
            <input type="radio" name="sec4_1" value="False" id="sec4_1_n"><label for="sec4_1_n">No</label><br><br>
            <p>4.2. ¿Se implementarán medidas de control de emisiones?</p>
            <input type="radio" name="sec4_2" value="True" id="sec4_2_s" required><label for="sec4_2_s">Sí</label><br>
            <input type="radio" name="sec4_2" value="False" id="sec4_2_n"><label for="sec4_2_n">No</label><br><br>
        </fieldset>

        <fieldset class="seccion">
            <legend>Sección 5: Incremento de los Niveles de Ruido</legend>
            <label for="sec5_1">5.1. ¿Cuál es el nivel de ruido ambiental actual en decibeles (dB) en el bosque sin el proyecto?</label>
            <br><br><input type="number" id="sec5_1" name="sec5_1" required><br><br>
            <label for="sec5_2">5.2. ¿Cuál se estima que será el nivel de ruido en decibeles (dB) debido al proyecto?</label>
            <br><br><input type="number" id="sec5_2" name="sec5_2" required>
        </fieldset>

        <fieldset class="seccion">
            <legend>Sección 6: Remoción y Pérdida del Suelo</legend>
            <p>6.1. ¿Cuál es el área total del bosque que se verá afectada por la remoción de vegetación y cobertura del suelo? (Área en metros cuadrados o hectáreas)</p>
            <input type="number" id="sec6_1" name="sec6_1" required><br><br>
            <p>6.2. ¿Cuál es el porcentaje aproximado de vegetación que se eliminará en relación con el área total del bosque? (Porcentaje)</p>
            <input type="number" id="sec6_2" name="sec6_2" required><br><br>
            <p>6.3. ¿Cuál es el área planificada para la restauración del suelo después de la construcción? (Área en metros cuadrados o hectáreas)</p>
            <input type="number" id="sec6_3" name="sec6_3" required><br><br>
        </fieldset>

        <fieldset class="seccion">
            <legend>Sección 7: Contaminación del Suelo</legend>
            <p>7.1. ¿Se ha desarrollado un plan de manejo de residuos detallado y adecuado para gestionar los residuos generados por el proyecto?</p>
            <input type="radio" name="sec7_1" value="True" id="sec7_1_s" required><label for="sec7_1_s">Sí</label><br>
            <input type="radio" name="sec7_1" value="False" id="sec7_1_n"><label for="sec7_1_n">No</label><br><br>
            <p>7.2. ¿El plan incluye la clasificación, recolección, transporte y disposición final de los residuos de manera ambientalmente responsable?</p>
            <input type="radio" name="sec7_2" value="True" id="sec7_2_s" required><label for="sec7_2_s">Sí</label><br>
            <input type="radio" name="sec7_2" value="False" id="sec7_2_n"><label for="sec7_2_n">No</label><br><br>
            <p>7.3. ¿Se han establecido medidas específicas para prevenir derrames de sustancias peligrosas y la contaminación del suelo durante la construcción y operación del proyecto?</p>
            <input type="radio" name="sec7_3" value="True" id="sec7_3_s" required><label for="sec7_3_s">Sí</label><br>
            <input type="radio" name="sec7_3" value="False" id="sec7_3_n"><label for="sec7_3_n">No</label><br><br>
            <p>7.4. ¿El proyecto cuenta con sistemas de contención de derrames y protocolos de respuesta en caso de incidentes?</p>
            <input type="radio" name="sec7_4" value="True" id="sec7_4_s" required><label for="sec7_4_s">Sí</label><br>
            <input type="radio" name="sec7_4" value="False" id="sec7_4_n"><label for="sec7_4_n">No</label><br><br>
        </fieldset>

        <fieldset class="seccion">
            <legend>Sección 8: Extracción de Flora y Fauna</legend>
            <p>8.1. ¿Se planea extraer flora del área para fines comerciales sin regulación?</p>
            <input type="radio" name="sec8_1" value="True" id="sec8_1_s" required><label for="sec8_1_s">Sí</label><br>
            <input type="radio" name="sec8_1" value="False" id="sec8_1_n"><label for="sec8_1_n">No</label><br><br>
            <p>8.2. ¿Se planea extraer fauna del área para fines comerciales sin regulación?</p>
            <input type="radio" name="sec8_2" value="True" id="sec8_2_s" required><label for="sec8_2_s">Sí</label><br>
            <input type="radio" name="sec8_2" value="False" id="sec8_2_n"><label for="sec8_2_n">No</label><br><br>
        </fieldset>

        <fieldset class="seccion">
            <legend>Sección 9: Alteración de Cuencas y Cursos de Agua</legend>
            <p>9.1. ¿El proyecto afectará las cuencas hidrográficas y cursos de agua en el bosque?</p>
            <input type="radio" name="sec9_1" value="True" id="sec9_1_s" required><label for="sec9_1_s">Sí</label><br>
            <input type="radio" name="sec9_1" value="False" id="sec9_1_n"><label for="sec9_1_n">No</label><br><br>
        </fieldset>

        <fieldset class="seccion">
            <legend>Sección 10: Impacto en la Biodiversidad</legend>
            <p>10.1. ¿Se han identificado especies en peligro de extinción en el área del proyecto?</p>
            <input type="radio" name="sec10_1" value="True" id="sec10_1_s" required><label for="sec10_1_s">Sí</label><br>
            <input type="radio" name="sec10_1" value="False" id="sec10_1_n"><label for="sec10_1_n">No</label><br><br>
            <p>10.2. ¿El proyecto afectará la migración de la fauna?</p>
            <input type="radio" name="sec10_2" value="True" id="sec10_2_s" required><label for="sec10_2_s">Sí</label><br>
            <input type="radio" name="sec10_2" value="False" id="sec10_2_n"><label for="sec10_2_n">No</label><br><br>
            <p>10.3. ¿Existen medidas para proteger la biodiversidad local?</p>
            <input type="radio" name="sec10_3" value="True" id="sec10_3_s" required><label for="sec10_3_s">Sí</label><br>
            <input type="radio" name="sec10_3" value="False" id="sec10_3_n"><label for="sec10_3_n">No</label><br><br>
            <p>10.4. ¿Se consideran pasos de fauna o soluciones similares?</p>
            <input type="radio" name="sec10_4" value="True" id="sec10_4_s" required><label for="sec10_4_s">Sí</label><br>
            <input type="radio" name="sec10_4" value="False" id="sec10_4_n"><label for="sec10_4_n">No</label><br><br>
        </fieldset>

        <fieldset class="seccion">
            <legend>Sección 11: Impacto en la Calidad del Agua</legend>
            <p>11.1. ¿El proyecto afectará la calidad físicoquímica del agua externa y subterránea?</p>
            <input type="radio" name="sec11_1" value="True" id="sec11_1_s" required><label for="sec11_1_s">Sí</label><br>
            <input type="radio" name="sec11_1" value="False" id="sec11_1_n"><label for="sec11_1_n">No</label><br><br>
            <p>11.2. ¿Se implementarán medidas para proteger la calidad del agua en ríos o arroyos cercanos?</p>
            <input type="radio" name="sec11_2" value="True" id="sec11_2_s" required><label for="sec11_2_s">Sí</label><br>
            <input type="radio" name="sec11_2" value="False" id="sec11_2_n"><label for="sec11_2_n">No</label><br><br>
        </fieldset>

        <fieldset class="seccion">
            <legend>Sección 12: Impacto en la Vegetación y Suelo</legend>
            <p>12.1. ¿Se prevé la pérdida de especies vegetales únicas en el bosque?</p>
            <input type="radio" name="sec12_1" value="True" id="sec12_1_s" required><label for="sec12_1_s">Sí</label><br>
            <input type="radio" name="sec12_1" value="False" id="sec12_1_n"><label for="sec12_1_n">No</label><br><br>
            <p>12.2. ¿Se planifica la conservación de la cobertura forestal?</p>
            <input type="radio" name="sec12_2" value="True" id="sec12_2_s" required><label for="sec12_2_s">Sí</label><br>
            <input type="radio" name="sec12_2" value="False" id="sec12_2_n"><label for="sec12_2_n">No</label><br><br>
        </fieldset>

        <fieldset class="seccion">
            <legend>Sección 13: Impacto en la Fauna</legend>
            <p>13.1. ¿El proyecto causará la reducción de las poblaciones de animales silvestres en la zona?</p>
            <input type="radio" name="sec13_1" value="True" id="sec13_1_s" required><label for="sec13_1_s">Sí</label><br>
            <input type="radio" name="sec13_1" value="False" id="sec13_1_n"><label for="sec13_1_n">No</label><br><br>
            <p>13.2. ¿Se producirá la destrucción de nidos, cuevas y otros albergues de la fauna?</p>
            <input type="radio" name="sec13_2" value="True" id="sec13_2_s" required><label for="sec13_2_s">Sí</label><br>
            <input type="radio" name="sec13_2" value="False" id="sec13_2_n"><label for="sec13_2_n">No</label><br><br>
        </fieldset>

        <fieldset class="seccion">
            <legend>Sección 14: Control de Invasores y Extracción Ilegal</legend>
            <p>14.1. ¿Se han identificado problemas específicos de invasiones de especies no nativas en el área del bosque afectado por el proyecto?</p>
            <input type="radio" name="sec14_1" value="True" id="sec14_1_s" required><label for="sec14_1_s">Sí</label><br>
            <input type="radio" name="sec14_1" value="False" id="sec14_1_n"><label for="sec14_1_n">No</label><br><br>
            <p>14.2. ¿Se ha observado actividad de extracción ilegal de recursos naturales en el área del proyecto? </p>
            <input type="radio" name="sec14_2" value="True" id="sec14_2_s" required><label for="sec14_2_s">Sí</label><br>
            <input type="radio" name="sec14_2" value="False" id="sec14_2_n"><label for="sec14_2_n">No</label><br><br>
            <p>14.3. ¿Se han planificado medidas específicas para controlar y prevenir la invasión de especies no nativas en el área? </p>
            <input type="radio" name="sec14_3" value="True" id="sec14_3_s" required><label for="sec14_3_s">Sí</label><br>
            <input type="radio" name="sec14_3" value="False" id="sec14_3_n"><label for="sec14_3_n">No</label><br><br>
            <p>14.4. ¿Se implementarán estrategias para prevenir y controlar la extracción ilegal de recursos naturales en el bosque? </p>
            <input type="radio" name="sec14_4" value="True" id="sec14_4_s" required><label for="sec14_4_s">Sí</label><br>
            <input type="radio" name="sec14_4" value="False" id="sec14_4_n"><label for="sec14_4_n">No</label><br><br>
        </fieldset>

        <fieldset class="seccion">
            <legend>Sección 15: Conservación de la Biodiversidad y Servicios del Bosque</legend>
            <p>15.1. ¿Se ha cuantificado el valor económico de los servicios ambientales del bosque en el área del proyecto?</p>
            <input type="radio" name="sec15_1" value="True" id="sec15_1_s" required><label for="sec15_1_s">Sí</label><br>
            <input type="radio" name="sec15_1" value="False" id="sec15_1_n"><label for="sec15_1_n">No</label><br><br>
            <label for="sec15_2">15.2. ¿Se ha calculado el porcentaje de conservación de estos servicios con respecto al estado actual? (Porcentaje)</label>
            <br><br><input type="number" id="sec15_2" name="sec15_2" required>
            <p>15.3. ¿Se han establecido métricas específicas para valorar y preservar los servicios ambientales del bosque?</p>
            <input type="radio" name="sec15_3" value="True" id="sec15_3_s" required><label for="sec15_3_s">Sí</label><br>
            <input type="radio" name="sec15_3" value="False" id="sec15_3_n"><label for="sec15_3_n">No</label><br><br>
        </fieldset>
        <input type="submit" value="Enviar" class="boton">
    </form>
</body>
</html>
